@media screen and (min-width: 870px){
    *{
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
    }
    button{
        border: 2px black solid;
    }
    .unique{
        color: bisque;
        text-align: center;
        font-size: 30px;
    }
    header{
        margin: 20px;
        padding: 10px;
    }
    .container{
        background-image: url(fondo3.png);
        background-size: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 0;
    }
    .me{
        margin-left: 42%;
        width: 250;
        border-radius: 120px;
    }
    nav{
        padding: 30px;
        background-color: rgb(86, 86, 241);
        border-radius: 15px;
    }
    h1{
        margin-left: 7%;
        font-size: 62px;
        color: bisque;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .p1{
        display: flex;
    }
    .none{
        list-style: none;
    }
    .p1 li{
        width: 100%;
    }
    .aptitudes{
        margin: auto;
        width: 80%;
    }
    .exp{
        width: 80%;
        margin-left: 6%;
    }
    .p2{
        display: flex;
        margin-top: 20px;
    }
    .p2 li{
        width: 100%;
    }
    .formacion{
        margin-left: 6%;
        width: 80%;
    }
    .pro{
        width: 80%;
        margin:auto;
    }
    .p3{
        display: flex;
        margin-top: 20px;
    }
    .p3 li{
        width: 100%;
    }
    .contact{
        margin-left: 6%;
        width: 80%;
    }
    .habilidades{
        width: 80%;
        margin:auto;
    }
    .social{
        margin-left: 55%;
        background-color:  rgb(86, 86, 241);
        width: 20%;
        padding: 5px;
        border-radius: 15px;
    }
    .down{
        margin: 20px;
        margin-left: 55%;
        width: 20%;
        padding: 5px;
        border-radius: 15px;
    }
    .des{
        border: 2px black solid;
        border-radius: 8px;
        background-color: purple;
        font-family: 'Times New Roman', Times, serif;
        margin: 4px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    .des:hover{
        color: white;
        background-color: black;
    }
}

@media screen and (max-width: 865px){
    *{
        margin: 0%;
        padding: 0%;
    }
    header{
        margin: 20px;
        padding: 10px;
    }
    .container{
        background-image: url(fondo3.png);
        background-size: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 0;
    }
    .me{
        align-content: center;
        border-radius: 120px;
        position: relative;
        left: 10%;
    }
    h1{
        align-content: center;
        font-size: 40px;
        text-align: center;
        color: bisque;
        font-family: Arial, Helvetica, sans-serif;
    }
    div{
        width: 100%;
        margin-top: 20px;
        background-color: rgb(16, 5, 117);
        color: white;
        border:2px black solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    nav{
        width: 100%;
        margin-top: 20px;
        background-color: rgb(16, 5, 117);
        color: white;
        border: 2px black solid;
        font-family: Arial, Helvetica, sans-serif;
    }
    .des{
        border: 2px black solid;
        border-radius: 8px;
        background-color: purple;
        font-family: 'Times New Roman', Times, serif;
        margin: 4px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }
    
    .des:hover{
        color: white;
        background-color: black;
    }
    
}